<h1>mypage</h1>

<span>ListCategory</span>
<!--後ほど編集-->
<p><%= link_to 'リストにタグを追加', new_tag_path %></p>
<ul>
<li>買い物リスト
  <ul>
  <li><a href="#">タグ1</a></li>
  <li><a href="#">タグ2</a></li>
  <li><a href="#">タグ3</a></li>
  </ul>
</li>
<li>要件リスト
  <ul>
  <li><a href="#">タグ1</a></li>
  <li><a href="#">タグ2</a></li>
  <li><a href="#">タグ3</a></li>
  </ul>
</li>
<li>日常リスト
  <ul>
  <li><a href="#">タグ1</a></li>
  <li><a href="#">タグ2</a></li>
  <li><a href="#">タグ3</a></li>
  </ul>
</li>
</ul>
